<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
              <input type="text" class="form-control" placeholder="búsqueda avanzada..." ng-model="query" ng-keypress="($event.charCode==13)? sendRequest(query) : return">
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <form class="form-horizontal" ng-submit="sendRequest(query)" role="form">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <div class="form-group">
                                        <label for="filter">Filter by</label>
                                        <select class="form-control" ng-model="cat" onclick="event.stopPropagation();">
                                            <option value="1">Amalgamas</option>
                                            <option value="2">Aparatos</option>
                                            <option value="">Todas las categorias</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Precio mínimo</label>
                                        <input class="form-control" type="text" ng-model= "minprice"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Precio máximo</label>
                                        <input class="form-control" type="text" ng-model= "maxprice"/>
                                    </div>
                                    <button type="submit" class="form-control btn btn-default"> Buscar <span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-default" ng-click="sendRequest(query)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-12">
          <div class="animate-switch-container" ng-switch="message_switch">
              <h5 class="animate-switch" ng-switch-when="articles_finded"><strong> {{number_of_articles}} </strong> articulos encontrados</h5>
              <h5 class="animate-switch" ng-switch-when="no_articles">no se encontraron artículos </h5>
          </div>
          <br>
      </div>
    </div>
    <div class="row">
        <div class="flex-container">
            <div ng-repeat="product in products">
                <div class="prodcontainer">
                    <a ng-href={{product.id}}> <img ng-src={{product.image}} class="prod-img" /></a>
                    <p>
                        nombre: {{product.name}}
                    </p>
                    <p>
                        categoría: {{product.category.trans.es}}
                    </p>
                    <p>
                        precio: {{product.price}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
