/* app css stylesheet */

* {
    box-sizing: border-box;
}
nav {
    margin-bottom: 20px
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}
.prodcontainer {
    width: 200px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(200, 200, 220, 0.8);
    font-size: 14px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(10, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px
}
.prodcontainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 150, 0.5);
}

.prodcontainer p {
  border-top: 1px solid silver;
  padding-top: 5px
}
.prod-img {
    width: 150px;
    border: 1px solid #fff;
    margin: 10px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
}
/*@media only screen and (max-width: 500px) {
    .prodcontainer {
        width: 100%;
    }
}*/

/*advanced search */

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 20px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.animate-switch-container {
  position:relative;
  height:20px;
  overflow:hidden;
}

h5.animate-switch {
  margin: 0px;
  padding:0px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}
